[Unit]

Description=My Script Service
After=multi-user.target

[Service]

Type=idle
WorkingDirectory=/root/auction_bot
ExecStart=/root/bot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target