aiogram==3.2.0
aioredis~=2.0
environs~=9.0
requests==2.28.1
asgiref==3.5.2  # for sync to async
pytz==2022.6
emoji-country-flag==1.3.1
python-dateutil==2.8.2
Pillow==9.5.0
cachetools==5.3.1
asyncache==0.3.1
redis==4.6.0
SQLAlchemy==2.0.20
asyncpg==0.28.0
alembic==1.11.3
